.ChatPage {
  padding: 0 2.4rem;
  font-size: 2.4rem;
  overflow-y: auto;
  padding-bottom: 5rem;
}

.ChatPage__chat--talking {
  display: flex;
  position: relative;
  margin-bottom: 12rem;
}

.ChatPage__chat--user {
  display: flex;
  justify-content: right;
  margin-bottom: 2.4rem;
}

.chat__profile {
  width: 4.8rem;
}

.chat__text {
  padding: 1.6rem;
}

.chat__text--talking {
  position: absolute;
  top: 2.4rem;
  left: 6.4rem;
  border-radius: 0 1.6rem 1.6rem 1.6rem;
  background-color: #ffe8b1;
}

.chat__text--user {
  border-radius: 1.6rem 0 1.6rem 1.6rem;
  background-color: var(--grey);
}

.ChatPage__form {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid var(--grey);
  background-color: white;
}

.ChatPage__input {
  width: 95%;
  height: 5rem;
  font-size: 2.4rem;
  padding-left: 1.6rem;
}

.ChatPage__sendButton {
  margin: 0 1.6rem;
}
