/* 출처: https://cssloaders.github.io/ */

.Loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--yellow);
  box-shadow: 32px 0 var(--yellow), -32px 0 var(--yellow);
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #d2cbb4;
    box-shadow: 32px 0 #d2cbb4, -32px 0 var(--yellow);
  }
  50% {
    background-color: var(--yellow);
    box-shadow: 32px 0 #d2cbb4, -32px 0 #d2cbb4;
  }
  100% {
    background-color: #d2cbb4;
    box-shadow: 32px 0 var(--yellow), -32px 0 #d2cbb4;
  }
}
