:root {
  --background-color: #fefbf3;
  --yellow: #ffca4e;
  --grey: #bfcedd;
}

body,
html {
  font-family: "OmyuPretty", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

@font-face {
  font-family: "OmyuPretty";
  src: local("OmyuPretty"), url(../fonts/오뮤_다예쁨체.TTF) format("truetype");
}

@font-face {
  font-family: "KCCGanpan";
  src: local("KCCGanpan"), url(../fonts/KCC-GANPAN.OTF) format("opentype");
}
