.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Home__image {
  width: 40rem;
  height: 40rem;
}

.Home__username {
  transform: translateY(-3rem);
  border-bottom: 2px solid var(--grey);
  font-size: 3.2rem;
  text-align: center;
}

.Home__username::placeholder {
  text-align: center;
}
