.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 40rem;
}

.main-button {
  font-size: 2.4rem;
  background-color: var(--yellow);
  padding: 2rem 5rem;
  border-radius: 1.6rem;
  cursor: pointer;
}
