#Layout {
  min-height: 100vh;
}

.Layout__message {
  position: absolute;
  font-size: 2rem;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.Layout__message p {
  text-align: center;
  line-height: 1.5;
}

@media (orientation: landscape) {
  .Layout__message--orientation {
    display: none;
  }
}

@media (min-width: 1000px) {
  .Layout__message--screen {
    display: none;
  }
}
