body,
html {
  font-family: "OmyuPretty", sans-serif;
}

@font-face {
  font-family: "OmyuPretty";
  src: local("OmyuPretty"), url(../fonts/오뮤_다예쁨체.TTF) format("truetype");
}

@font-face {
  font-family: "KCCGanpan";
  src: local("KCCGanpan"), url(../fonts/KCC-GANPAN.OTF) format("opentype");
}
