.AiCanvas {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.AiCanvas__message {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.AiCanvas__message img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 1.6rem;
}

.message__text {
  display: flex;
  flex-direction: column;
}

.message__text span {
  font-size: 2rem;
}

.AiCanvas__story {
  overflow-y: auto;
  height: 50%;
  padding: 2rem;

  background-color: var(--grey);
  border-radius: 0 0 1.6rem 1.6rem;
}

.AiCanvas__story h3 {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.AiCanvas__story p {
  font-size: 2rem;
  text-align: justify;
  line-height: 1.5;
}

.AiCanvas__canvas {
  height: 50%;
  border: 1px solid var(--grey);
  border-radius: 1.6rem 1.6rem 0 0;
  position: relative;
}

.canvas_loader {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
}

.canvas__copyButton {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1.6rem 0 0;
  padding: 1rem;
  background-color: var(--grey);
  font-size: 2rem;
}
