.DrawingPage {
  display: flex;
  padding: 0 2.4rem;
  gap: 2rem;
  height: 85vh;
}

.DrawingPage__left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.left__ai {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.left__ai img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 1.6rem;
}

.left__canvas {
  height: 50%;
  border: 1px solid var(--grey);
  border-radius: 1.6rem 1.6rem 0 0;
  position: relative;
}

.canvas__copyButton {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1.6rem 0 0;
  padding: 1rem;
  background-color: var(--grey);
  font-size: 2rem;
}

.left__story {
  overflow-y: auto;
  height: 50%;
  font-size: 2rem;
  padding: 2rem;
  text-align: justify;
  line-height: 1.5;
  background-color: var(--grey);
  border-radius: 0 0 1.6rem 1.6rem;
}

.DrawingPage__right {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey);
  border-radius: 1.6rem;
  width: 60%;
  overflow: hidden;
}

.right__tool {
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.right__tool .tool__icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #aeaeae;
  margin-right: 2rem;
}

#tool__icon--selected {
  color: black;
}

.right__tool .tool_colorPalette {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tool_colorPalette .colorPalette__color {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right__canvas {
  height: 100%;
}

.DrawingPage__completeBtn {
  margin-left: 1.6rem;
  font-size: 2rem;
}
